<p id="notice"><%= notice %></p>

<p>
  <strong>Field1:</strong>
  <%= @sample.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @sample.field2 %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
