<!DOCTYPE html>
<html>
<head>
  <title>Brainly team dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'scrollTo' %>
  <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="300">
</head>
<body>

<%= yield %>

</body>
</html>
